@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "getRestaurants";
}

<h2>Restaurants disponibles</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Restaurant
                <!-- @Html.DisplayNameFor(model => model.merchant_name) -->
            </th>
            <th>
                Located in
                <!-- @Html.DisplayNameFor(model => model.fk_idCity) -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.merchant_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_idCity)
            </td>
            <td>
                <!--@Html.ActionLink("Edit", "Edit", new { id = item.idRestaurant }) -->
                @Html.ActionLink("Details", "Details", new { id = item.idRestaurant })
                <!--@Html.ActionLink("Delete", "Delete", new { id = item.idRestaurant })-->
            </td>
            </tr>
    }
        </tbody>
    </table>
