@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "GetRestaurants";
}

<h2>GetRestaurants</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr style="background-color:darkcyan; color:white">
            <th>
                @Html.DisplayNameFor(model => model.idRestaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.merchant_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fk_idCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idRestaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merchant_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_idCity)
            </td>
            <td>
                @Html.ActionLink("Show delicious dishes", "GetDishes", "Dish", new { id = item.idRestaurant })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @Html.ActionLink("Go back to cities", "GetAllCities", "City")
</div>
