@model DTO.Dish

@{
    ViewData["Title"] = "Edit";
}

<h2>Confirmation</h2>
<h4>Dish</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <text>Would you like to add this item to your shopping cart ? </text>
        <blockquote>@Html.DisplayFor(model => model.name)</blockquote>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.fk_idRestaurant)
        @Html.HiddenFor(model => model.idDish)
        @Html.HiddenFor(model => model.name)
        @Html.HiddenFor(model => model.price)
    </div>

    <div class="form-group">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@*@Html.ActionLink("Abort and get back", "GetDishes", "Dish", new { id = Model.fk_idRestaurant })*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
