@model IEnumerable<DTO.Dish>

@{
    ViewData["Title"] = "GetCurrentDishes";
}

<h2>Shopping cart</h2>

@{
    decimal totalPrice = new decimal(0.0);
    Boolean isEmpty = true;
}

<table class="table">
    <thead>
        <tr style="background-color:darkcyan; color:white">
            <th>
                N°
            </th>
            <th>
                Dish
            </th>
            <th>
                Price
            </th>
            <th>
                Restaurant
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            totalPrice += item.price;
            //index += 1;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idDish)
                    @if (!(item.idDish.Equals(null)))
                    {
                        isEmpty = false;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fk_idRestaurant)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Remove", "Delete", new { id = item.idDish })
                    @*@index*@

                    @*@Html.ActionLink("Show delicious dishes", "GetDishes", "Dish", new { id = item.idRestaurant })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@*<p style="color:red;">@ViewBag.ErrorBasketEmpty</p>*@

<TotalPrice> Total price : @totalPrice <devise> CHF</devise> </TotalPrice>

@if (isEmpty)
{
    <input type="button" class="btn btn-info btn-sm disabled" value="Choose delivery time"/>
}
else
{
    <input type="button" class="btn btn-info btn-sm active" value="Choose delivery time" onclick="@("window.location.href='" + @Url.Action("Create", "Orders")+ "'");" />
}




@*<button type="submit" class="btn btn-primary">Choisir une heure de livraison</button>*@

