@model IEnumerable<WebApplication.Models.OrderDishDetails>

@{
    ViewData["Title"] = "GetOrdersInfo";

    var orderId = @Html.DisplayFor(model => model.ElementAt(0).idOrder);
    decimal totalPrice = new decimal(0.0);
}

<h2>Detailed summary of the order</h2>
<h3>Order #@orderId</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            totalPrice += item.dishPrice;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scheduled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<p><TotalPrice> Total price to pay to the deliverer : @totalPrice <devise> CHF</devise> </TotalPrice></p>
<p><Thanks> Thank you for your order, your delivery person has been informed. </Thanks></p>
