@model DTO.Orders

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@{
    DateTime scheduledAt = new DateTime();
}

<h4>Orders</h4>
<hr />

<h3> The order will be delivered the @DateTime.Today.ToString("dd.MM.yyyy")  </h3>
<h3>Choose the time you want the delivery </h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*TIME*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @*@Html.LabelFor(model => model.scheduled_at, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @*@Html.Label("Choisissez un horaire pour une commande le :" + @DateTime.Now.Date);*@
                <hr />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.scheduled_at, new { htmlAttributes = new { @class = "form-control", @Type = "time" } })
                    @Html.ValidationMessageFor(model => model.scheduled_at, "", new { @class = "text-danger" })
                </div>
            </div>

            @*DATE*@
            @*<hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.scheduled_at, htmlAttributes: new { @class = "control-label col-md-2" })
            <hr />
            <div class="col-md-10">
                @Html.EditorFor(model => model.scheduled_at, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })

                @Html.ValidationMessageFor(model => model.scheduled_at, "", new { @class = "text-danger" })
            </div>
        </div>*@





            @*<div class="form-group">
            <label asp-for="idOrder" class="control-label"></label>
            <input asp-for="idOrder" class="form-control" />
            <span asp-validation-for="idOrder" class="text-danger"></span>
        </div>*@



            @*<div class="form-group">
            <label asp-for="status" class="control-label"></label>
            <input asp-for="status" class="form-control" />
            <span asp-validation-for="status" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.scheduled_at, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.scheduled_at, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
                @Html.EditorFor(model => model.scheduled_at, new { htmlAttributes = new { @class = "form-control", @Type = "time" } })
                @Html.ValidationMessageFor(model => model.scheduled_at, "", new { @class = "text-danger" })
            </div>
        </div>*@
            @*<div class="form-group">
            <label asp-for="scheduled_at" class="control-label"></label>
            <input asp-for="scheduled_at" class="form-control" />
            <span asp-validation-for="scheduled_at" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="delivered_at" class="control-label"></label>
            <input type="date" asp-for="delivered_at" class="form-control" />
            <span asp-validation-for="delivered_at" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="fk_idStaff" class="control-label"></label>
            <input asp-for="fk_idStaff" class="form-control" />
            <span asp-validation-for="fk_idStaff" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="fk_idCustomer" class="control-label"></label>
            <input asp-for="fk_idCustomer" class="form-control" />
            <span asp-validation-for="fk_idCustomer" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <input type="submit" value="Validate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
