@model IEnumerable<DTO.Orders>

@{
    ViewData["Title"] = "GetOrdersRelativeToStaff";
}

<h2>GetOrdersRelativeToStaff</h2>
<h3>@ViewBag.username</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scheduled_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.delivered_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scheduled_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivered_at)
            </td>
            <td>
                @*
        Need to be redirect to Edit (change status + delivered_at)
        which will redirect to GetOrdersRelativeToStaff
                *@
                @*<input type="submit" class="btn btn-info btn-sm active" value="Delivered">
                <input type="submit" class="btn btn-info btn-sm disabled" value="Delivered">*@

                @Html.ActionLink("Edit", "Edit", new { id = item.idOrder, @ViewBag.username })

                @*@Html.ActionLink("Delivered", "GetOrdersRelativeToStaff", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
